.mfx-button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

#number-pad-button {
    -fx-font-size: 35;
    -fx-background-color: #fff4eb;
    -fx-text-fill: black;
}

#control-button {
    -fx-font-size: 20;
    -fx-background-color: #fff4eb;
    -fx-text-fill: black;
}

#reset-button {
    -fx-font-size: 14;
    -fx-background-color: #fff4eb;
    -fx-text-fill: black;
}

#background {
    -fx-background-color: #af0a0e;
}

#stage-counter {
    -fx-font-size: 45;
    -fx-background-color: black;
    -fx-background-radius: 10 10 10 10;
    -fx-text-fill: #2eff00;
    -fx-border-color: #85e0ff;
    -fx-border-radius: 10;
    -fx-border-width: 3;
}

#confirmation-field {
    -fx-background-color: black;
    -fx-background-radius: 10 10 10 10;
    -fx-text-fill: #2eff00;
    -fx-font-size: 20;
    -fx-border-color: #85e0ff;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-prompt-text-fill: #38b822;
}

#output-area {
    -fx-background-color: black;
    -fx-background-radius: 10 10 10 10;
    -fx-text-fill: #2eff00;
    -fx-font-size: 35;
    -fx-border-color: #85e0ff;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-padding: 5;
}

#output-area .content {
    -fx-background-color: black;
}

#border-divide {
    -fx-border-color: #700404;
    -fx-border-width: 0 0 0 2;
}