#background {
    -fx-base: #0B234C;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #104a96;
    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-radius: 2em;
}

#puzzle-radio-button {
    -jfx-unselected-color: #8d8d8d;
    -jfx-selected-color: white;
    -fx-font-size: 19;
}

#submit-button {
    -jfx-rippler-fill: black;
    -fx-background-color: #FFCD99;
    -fx-text-fill: #221b18;
    -fx-font-weight: lighter;
    -fx-font-family: Tahoma;
}

#search-field{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-prompt-text-fill: lightgray;
}