#background {
    -fx-base: #0B234C;
}

#puzzle-radio-button {
    -jfx-unselected-color: #8d8d8d;
    -jfx-selected-color: white;
    -fx-font-size: 19;
}

#submit-button {
    -fx-base: #FFCD99;
    -fx-text-fill: #221b18;
    -fx-font-weight: lighter;
    -fx-font-family: Tahoma;
    -fx-font-size: 20;
}

#search-field{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-prompt-text-fill: white;
}