#search-text-field {
    -fx-background-color: #00407c;
    -fx-background-radius: 15;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-font-size: 24;
    -fx-padding: 0 0 0 7;
    -fx-prompt-text-fill: white;
    -mfx-line-stroke-width: 0;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #1e5c96;
}

.table-view .column-header .label {
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.table-row-cell:even {
    -fx-background-color: #1f007c;
}

.table-row-cell:odd {
    -fx-background-color: #0b4c34;
}

.table-view .cell {
    -fx-font-size: 25;
    -fx-label-padding: 0 0 10 0;
}

.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button,
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:horizontal .track {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;

    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #0b4c34;
}

.table-view .scroll-bar:vertical .track {
    -fx-background-color: #1f007c;
}

.table-view .scroll-bar:vertical .increment-button,
.table-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: #0b4c34;
    -fx-border-color: #1f007c;
}