#major-title {
    -fx-font-size: 26;
    -fx-underline: true;
}

.mfx-button {
    -fx-font-size: 24;
}

.mfx-text-field {
    -fx-background-color: #00407c;
    -fx-background-radius: 15;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-font-size: 18;
    -fx-padding: 0 0 0 10;
    -fx-prompt-text-fill: white;
    -mfx-line-stroke-width: 0;
}

#everything-else-label {
    -fx-font-size: 19;
}

.mfx-toggle-button {
    -mfx-untoggle-color: #354558;
    -mfx-untoggle-line-color: #172b58;
}

#lit-label-toggle-button {
    -mfx-toggle-color: #dedee0;
    -mfx-toggle-line-color: #2b4cff;
    -fx-font-size: 18;
}

#unlit-label-toggle-button {
    -mfx-toggle-color: #00033b;
    -mfx-toggle-line-color: #041c48;
    -fx-font-size: 18;
}

#indicator-label {
    -fx-text-fill: linear-gradient(to bottom right, white, #d4d4d4);
    -fx-font-size: 21;
    -fx-background-color: #230c0c;
    -fx-border-color: linear-gradient(to bottom right, #963330, #301110);
    -fx-border-width: 4;
}

#boss-module-toggle-button {
    -mfx-toggle-line-color: #860e0f;
    -mfx-toggle-color: #f68484;
    -fx-font-size: 25;
}

#dvi-slider .track {
    -fx-fill: derive(#983136, 80%);
}

#dvi-slider .thumb {
    -mfx-color: #983136;
    -fx-fill: #983136;
}

#dvi-slider .bar {
    -fx-fill: #983136;
}

#parallel-slider .track {
    -fx-fill: derive(#d76793, 80%);
}

#parallel-slider .thumb {
    -mfx-color: #d76793;
    -fx-fill: #d76793;
}

#parallel-slider .bar {
    -fx-fill: #d76793;
}

#ps-slider .track {
    -fx-fill: derive(#56a46a, 80%);
}

#ps-slider .thumb {
    -mfx-color: #56a46a;
    -fx-fill: #56a46a;
}

#ps-slider .bar {
    -fx-fill: #56a46a;
}

#rj-slider .track {
    -fx-fill: derive(#2a2b3a, 80%);
}

#rj-slider .thumb {
    -mfx-color: #2a2b3a;
    -fx-fill: #2a2b3a;
}

#rj-slider .bar {
    -fx-fill: #2a2b3a;
}

#serial-slider .track {
    -fx-fill: derive(#37799f, 80%);
}

#serial-slider .thumb {
    -mfx-color: #37799f;
    -fx-fill: #37799f;
}

#serial-slider .bar {
    -fx-fill: #37799f;
}

#rca-slider .track {
    -fx-fill: #f7eadc;
}

#rca-slider .thumb {
    -mfx-color: #c7200d;
    -fx-fill: #c7200d;
}

#rca-slider .bar {
    -fx-fill: #c7200d;
}

#port-label {
    -fx-font-size: 18;
}

#battery-slider .bar {
    -fx-fill: #f9cd35
}

#battery-slider .track {
    -fx-fill: derive(#f9cd35, 90%);
}

#battery-slider .thumb {
    -mfx-color: #bc2a23;
    -fx-fill: #bc2a23;
}

#holder-slider .thumb {
    -mfx-color: #3a4e77;
    -fx-fill: #3a4e77;
}

#holder-slider .thumb .mfx-ripple-generator {
    -mfx-ripple-color: black;
}

#holder-slider .track {
    -fx-fill: derive(#3a4e77, 75%);
}

#holder-slider .bar {
    -fx-fill: #3a4e77;
}

#right-border-line-separator {
    -fx-border-color: #001439;
    -fx-border-width: 0 1 0 0;
}

#bottom-border-line-separator {
    -fx-border-color: #001439;
    -fx-border-width: 0 0 1 0;
}