#major-title {
    -fx-font-size: 26;
    -fx-underline: true;
}

.jfx-text-area {
    -fx-padding: 0 50 0 50;
    -jfx-focus-color: white;
    -jfx-unfocus-color: #0b234c;
    -fx-font-size: 15;
    -fx-prompt-text-fill: white;
    -jfx-label-float: true;
}

.jfx-slider {
    -jfx-default-track: #0b234c;
    -fx-font-size: 16;
}

.jfx-slider .track {
    -fx-pref-width: 5px;
    -fx-pref-height: 5px;
}

.jfx-slider .thumb {
    -fx-pref-width: 20;
    -fx-pref-height: 20;
}

#everything-else-label {
    -fx-font-size: 19;
}

.jfx-toggle-button {
    -jfx-untoggle-color: #354558;
    -jfx-untoggle-line-color: #172b58;
}

#lit-label-toggle-button {
    -jfx-toggle-color: #dedee0;
    -jfx-toggle-line-color: #2b4cff;
    -fx-font-size: 18;
}

#unlit-label-toggle-button {
    -jfx-toggle-color: #00033b;
    -jfx-toggle-line-color: #041c48;
    -fx-font-size: 18;
}

#indicator-label {
    -fx-text-fill: linear-gradient(to bottom right, white, #d4d4d4);
    -fx-font-size: 21;
    -fx-background-color: #230c0c;
    -fx-border-color: linear-gradient(to bottom right, #963330, #301110);
    -fx-border-width: 4;
}

#boss-module-toggle-button {
    -jfx-toggle-line-color: #860e0f;
    -jfx-toggle-color: #f68484;
    -fx-font-size: 25;
}

#dvi-slider {
    -jfx-default-thumb: #983136;
}

#parallel-slider {
    -jfx-default-thumb: #d76793;
}

#ps-slider {
    -jfx-default-thumb: #56a46a;
}

#rj-slider {
    -jfx-default-thumb: #2a2b3a;
}

#serial-slider {
    -jfx-default-thumb: #37799f;
}

#rca-slider {
    -jfx-default-thumb: linear-gradient(to right, #f7eadc, #c7200d);
}

#port-label {
    -fx-font-size: 18;
}

#battery-slider {
    -jfx-default-thumb: linear-gradient(to right, #f9cd35, #d9ae07, #bc2a23, #d9ae07, #f9cd35);
    -fx-padding: 0 10 0 10;
}

#holder-slider {
    -jfx-default-thumb: #3a4e77;
    -fx-padding: 0 20 0 20;
}

#right-border-line-separator {
    -fx-border-color: #001398;
    -fx-border-width: 0 2 0 0;
}

#bottom-border-line-separator {
    -fx-border-color: #001398;
    -fx-border-width: 0 0 2 0;
}