.jfx-radio-button {
    -jfx-unselected-color: #00255b;
    -fx-font-size: 22;
    -fx-text-fill: white;
}

#standard-radio-button {
    -jfx-selected-color: white;
}

#standard-radio-button:hover {
    -jfx-unselected-color: #0065de;
}

#red-radio-button {
    -jfx-selected-color: red;
}

#red-radio-button:hover {
    -jfx-unselected-color: #930000;
}

#yellow-radio-button {
    -jfx-selected-color: yellow;
}

#yellow-radio-button:hover {
    -jfx-unselected-color: #b3b300;
}

#blue-radio-button {
    -jfx-selected-color: #0065de;
}

#blue-radio-button:hover {
    -jfx-unselected-color: #3671bb;
}

.jfx-text-area {
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
    -fx-background-color: #00407c;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-font-size: 22;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}

.jfx-text-area .content {
    -fx-background-color: #00407c;
}

.mfx-label {
    -fx-text-fill: white;
    -mfx-line-stroke-width: 0;
    -mfx-text-fill: white;
}

.mfx-text-field {
    -fx-background-color: #00407c;
    -fx-background-radius: 15;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-font-size: 22;
    -fx-padding: 0 0 0 10;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -mfx-line-stroke-width: 0;
}

#solution-box {
    -fx-border-color: rgba(32, 11, 76, 0.58);
    -fx-border-width: 3;
    -fx-border-radius: 15;
}

#password-text-area {
        -jfx-focus-color: transparent;
        -jfx-unfocus-color: transparent;
        -fx-background-color: black;
        -fx-border-color: rgb(0, 70, 164);
        -fx-border-width: 5;
        -fx-border-radius: 2;
        -fx-font-size: 20;
        -fx-padding: 0 0 0 2;
        -fx-prompt-text-fill: white;
}

#password-text-area .content {
    -fx-background-color: #001942;
}

#image-hover {
    -jfx-selected-color: white;
    -jfx-unselected-color: #0065de;
}