.mfx-button {
    -fx-font-size: 30;
}

.mfx-text-field {
    -fx-font-size: 30;
    -fx-background-color: #00407c;
    -fx-background-radius: 15 15 15 15;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-prompt-text-fill: white;
    -fx-alignment: center;
    -mfx-line-stroke-width: 0;
}