.mfx-text-field {
    -fx-background-color: #00407c;
    -fx-background-radius: 15;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-font-size: 28;
    -fx-padding: 0 30 0 30;
    -fx-prompt-text-fill: white;
    -mfx-line-stroke-width: 0;
}