.jfx-button {
    -fx-font-size: 32;
}

.jfx-text-field {
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
    -fx-alignment: center;
    -fx-background-color: #00407c;
    -fx-background-radius: 15;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-border-width: 3;
    -fx-font-size: 36;
    -fx-prompt-text-fill: white;
}