.jfx-radio-button {
    -fx-font-size: 25;
    -jfx-unselected-color: #00255b;
}

.jfx-button {
    -fx-font-size: 25;
}

#shape-selector {
    -jfx-selected-color: white;
}

#shape-selector:hover {
    -jfx-unselected-color: #0065de;
}

#red-button-selector {
    -jfx-selected-color: red;
}

#red-button-selector:hover {
    -jfx-unselected-color: #830000;
}

#yellow-button-selector {
    -jfx-selected-color: yellow;
}

#yellow-button-selector:hover {
    -jfx-unselected-color: #a2a200;
}

#green-button-selector {
    -jfx-selected-color: #00ca00;
}

#green-button-selector:hover {
    -jfx-unselected-color: #009900;
}

#cyan-button-selector {
    -jfx-selected-color: cyan;
}

#cyan-button-selector:hover {
    -jfx-unselected-color: #009999;
}

#blue-button-selector {
    -jfx-selected-color: #0037ff;
}

#blue-button-selector:hover {
    -jfx-unselected-color: #1919cf;
}

#pink-button-selector {
    -jfx-selected-color: pink;
}

#pink-button-selector:hover {
    -jfx-unselected-color: #cf6876;
 }