.mfx-button {
    -fx-font-size: 25;
}

.mfx-text-field {
    -fx-font-size: 32;
    -fx-prompt-text-fill: white;
    -mfx-line-stroke-width: 0;
}

#priority-text {
    -fx-background-color: #00407c;
    -fx-background-radius: 15;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-padding: 0 0 0 41;
    -fx-text-fill: #32d500;
}

#outside-text {
    -fx-background-color: #00407c;
    -fx-background-radius: 15;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-padding: 0 0 0 41;
    -fx-text-fill: #e3e000;
}

#true-label {
    -fx-background-color: #32d500;
    -fx-padding: 0 0 3 16;
}

#false-label {
    -fx-background-color: #ad0000;
    -fx-padding: 0 0 3 15;
}

.mfx-toggle-button {
    -mfx-untoggle-color: #354558;
    -mfx-untoggle-line-color: #172b58;
    -fx-font-size: 20;
}

#priority-toggle {
    -mfx-toggle-color: #dedee0;
    -mfx-toggle-line-color: #2b4cff;
}

#negation-toggle {
    -mfx-toggle-line-color: #860e0f;
    -mfx-toggle-color: #f68484;
}

.jfx-combo-box {
    -jfx-focus-color: rgb(206, 206, 206);
    -jfx-unfocus-color: black;
    -jfx-label-float: true;
}